# Example .gitignore file for your config dir.

# ssh private key
core_git_pull.yaml
emulated_hue_ids.json

# Ignore folders.
.storage/
.cloud/
.google.token
.cache/
blueprints/
custom_components/
www/

# HA runtime files
.HA_VERSION
.ha_run.lock
home-assistant.log*
home-assistant_v2.db*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
